fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
pypdf
google-generativeai
python-dotenv
sqlalchemy
psycopg2-binary
plotly
fpdf
langchain
langchain-community
langchain-google-genai
langchain-text-splitters
chromadb                   
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
httpx
pandas